* {
    padding: 0;
    margin: 0;
}
Body{
display: flex;
flex-direction: column;
align-items: center;}


header{
    height: 100px;
    background-color: black;
    padding: 80px;
    text-align: center;
}


.logo{
    height: 80px;
}
 
main {
    
    Width: 30px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
}
.tiulo{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 900px;
    color: black
}
.intro-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}



.foto-bolo{
    width: 380;
}

.ingredientes-container{
    width: 600px;
}

.ingredientes-container ul{
    padding-left: 32px;
}
